// Place your apps css here

.clock-parent-flex{
  display: flex;
  height: 500px;
}

.clock-child-flex{
  margin: auto;
}

.row-parent-flex{
  display: flex;
  justify-content: space-between;
}

.on{
  text-shadow:2px 2px 4px blue;
}

.off{
  color:grey;
}
