<:Title>
  WORD CLOCK

<:Body>
  <div class="clock-parent-flex">
    <h1 style="color:grey" class="clock-child-flex">
      <span class="row-parent-flex">
        <span>IT IS</span><span> HALF</span><span> TEN<br></span>
      </span>
      <span class="row-parent-flex">
        <span>QUARTER</span><span>TWENTY<br></span>
      </span>
      <span class="row-parent-flex">
        <span>FIVE</span><span>MINUTES</span><span>TO<br></span>
      </span>
      <span class="row-parent-flex">
        <span>PAST</span><span>ONE</span><span>THREE<br></span>
      </span>
      <span class="row-parent-flex">
        <span>TWO</span><span>FOUR</span><span>FIVE<br></span>
      </span>
      <span class="row-parent-flex">
        <span>SIX</span><span>SEVEN</span><span>EIGHT<br></span>
      </span>
      <span class="row-parent-flex">
        <span>NINE</span><span>TEN</span><span>ELEVEN<br></span>
      </span>
      <span class="row-parent-flex">
        <span>TWELVE</span><span>O'CLOCK<br></span>
      </span>
    </h1>

